{% extends 'base.html.twig' %}

{% block title %}Administrateurs{% endblock %}

{% block body %}
    <h1>Administrateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ administrateur.id }}</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>{{ administrateur.identifiant }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ administrateur.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ administrateur.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_administrateurs_index') }}">back to list</a>

    <a href="{{ path('app_administrateurs_edit', {'id': administrateur.id}) }}">edit</a>

    {{ include('administrateurs/_delete_form.html.twig') }}
{% endblock %}
