{% extends 'base.html.twig' %}

{% block title %}Eleves index{% endblock %}

{% block body %}
    <h1>Eleves index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identifiant</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Date_naissance</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for elefe in eleves %}
            <tr>
                <td>{{ elefe.id }}</td>
                <td>{{ elefe.identifiant }}</td>
                <td>{{ elefe.password }}</td>
                <td>{{ elefe.nom }}</td>
                <td>{{ elefe.prenom }}</td>
                <td>{{ elefe.email }}</td>
                <td>{{ elefe.dateNaissance ? elefe.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ elefe.telephone }}</td>
                <td>
                    <a href="{{ path('app_eleves_show', {'id': elefe.id}) }}">show</a>
                    <a href="{{ path('app_eleves_edit', {'id': elefe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_eleves_new') }}">Create new</a>
{% endblock %}
