{% extends 'base.html.twig' %}

{% block title %}Eleves{% endblock %}

{% block body %}
    <h1>Eleves</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ elefe.id }}</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>{{ elefe.identifiant }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ elefe.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ elefe.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ elefe.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ elefe.email }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ elefe.dateNaissance ? elefe.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ elefe.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eleves_index') }}">back to list</a>

    <a href="{{ path('app_eleves_edit', {'id': elefe.id}) }}">edit</a>

    {{ include('eleves/_delete_form.html.twig') }}
{% endblock %}
