{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ cour.date ? cour.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure_debut</th>
                <td>{{ cour.heureDebut ? cour.heureDebut|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure_fin</th>
                <td>{{ cour.heureFin ? cour.heureFin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nom_matiere</th>
                <td>{{ cour.nomMatiere }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cours_index') }}">back to list</a>

    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
