{% extends 'base.html.twig' %}

{% block title %}Enseignants index{% endblock %}

{% block body %}
    <h1>Enseignants index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identifiant</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Date_naissance</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.id }}</td>
                <td>{{ enseignant.identifiant }}</td>
                <td>{{ enseignant.password }}</td>
                <td>{{ enseignant.nom }}</td>
                <td>{{ enseignant.prenom }}</td>
                <td>{{ enseignant.email }}</td>
                <td>{{ enseignant.dateNaissance ? enseignant.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ enseignant.telephone }}</td>
                <td>
                    <a href="{{ path('app_enseignants_show', {'id': enseignant.id}) }}">show</a>
                    <a href="{{ path('app_enseignants_edit', {'id': enseignant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_enseignants_new') }}">Create new</a>
{% endblock %}
