{% extends 'base.html.twig' %}

{% block title %}Matieres index{% endblock %}

{% block body %}
    <h1>Matieres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_matiere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.nomMatiere }}</td>
                <td>
                    <a href="{{ path('app_matieres_show', {'id': matiere.id}) }}">show</a>
                    <a href="{{ path('app_matieres_edit', {'id': matiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matieres_new') }}">Create new</a>
{% endblock %}
